@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  height: 100vh;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

nav ul li {
  list-style-type: none;
  margin-top: 6rem;
}

nav ul a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #ec5242;
}

.menu {
  width: 60px;
  height: 60px;
  margin: 1rem 0;
}

.cancel {
  width: 80px;
  height: 80px;
  margin: 2rem 4rem;
}

header .main-wrapper {
  background-image: url(../images/pexels-karolina-grabowska-4464884.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 65vh;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 2rem;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: #ec5242;
  padding-top: 2rem;
}

.motto {
  font-family: "Lato", sans-serif;
  color: #454852;
  font-size: 1rem;
  padding: 1.2rem;
  margin-right: 2rem;
  line-height: 1.3;
  text-align: left;
  margin-top: 2rem;
  border: 2px solid white;
}

.date {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #272a31;
  margin-top: 1rem;
}

.venue {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  text-align: left;
  color: #272a31;
}

.main-program {
  display: flex;
  flex-direction: column;
  background-color: #272a31;
}

.main-program-header {
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}

.h_line {
  border-bottom: 1px solid #ec5242;
  width: 4rem;
  height: 5px;
  align-self: center;
}

.main-program-card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #454852;
  margin: 1rem;
  padding: 1rem;
  height: 7rem;
}

.main-program-card1:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.material-symbols-outlined {
  color: #fff;
  font-size: 1.7rem;
}

.main-program-card-header {
  color: #ec5242;
  padding-left: 1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

.main-program-card-desp {
  color: #fff;
  padding-left: 1rem;
  line-height: 1.7;
  font-size: 0.7rem;
}

.main-program-button {
  background-color: #ec5242;
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 2.3rem 2rem 3rem;
}

.main-program-button a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}

/* Feature Section */
.h3-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.speaker-h3 {
  margin-top: 4rem;
  align-self: center;
  font-size: 1.8rem;
}

.speaker-line {
  border-bottom: 1px solid #969696;
  width: 4rem;
  height: 5px;
  align-self: flex-start;
}

.card-wrapper {
  display: grid;
  flex-direction: column;
  margin-left: 1rem;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6 {
  display: flex;
  margin-bottom: 3rem;
}

.speaker-name {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

.speaker-title {
  color: #ec5242;
  font-size: 1rem;
}

.speaker-text {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  line-height: 1.5;
}

.dot-photo {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 4.5rem;
}

.dot {
  width: 60px;
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
}

.speaker-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 110px;
  height: 110px;
}

/* Partner Section */

.partners {
  display: flex;
  flex-direction: column;
  background-color: #454852;
  margin-top: 3rem;
}

.partners-header {
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
}

.partners img {
  width: 90px;
  height: 90px;
}

.partners-logo-top {
  display: flex;
  justify-content: space-around;
}

.partners-logo-down {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.partners .h_line {
  border-bottom: 1px solid #ec5242;
  width: 4rem;
  height: 5px;
  align-self: center;
  margin-bottom: 2rem;
}

.partners-image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-logo {
  width: 30%;
  height: 50px;
}

.footer-text {
  color: #454852;
  align-self: center;
  font-size: 0.8rem;
}

/* About page styling starts from here */

.about-title {
  font-weight: 900;
  font-size: 3rem;
  color: #ec5242;
  text-align: center;
  padding: 3rem 1rem;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.about-intro-container {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.about-intro {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: center;
}

.contact-text {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0.5rem;
  background-color: #fff;
}

.email {
  font-size: 1.2rem;
  font-weight: 700;
}

.email-line {
  border-bottom: 1px solid #969696;
  width: 12.5rem;
  align-self: center;
}

.location-container {
  display: flex;
  flex-direction: column;
}

.location-line {
  border-bottom: 1px solid #ec5242;
  width: 11.5rem;
  align-self: center;
  margin-bottom: 4rem;
}

.location-h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  margin-top: 5rem;
}

.about-venue {
  font-size: 2rem;
  color: #454852;
  text-align: center;
  font-weight: 900;
}

.location-date {
  text-align: center;
  font-weight: 900;
  color: #454852;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 2rem;
}

.separation-line {
  border-bottom: 1px solid #969696;
  width: 100%;
  align-self: center;
}

.archives {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.archives h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  margin-top: 5rem;
}

.archives-check {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 7rem;
}

.archives-img img {
  width: 100%;
  height: 300px;
}

.arch {
  position: relative;
  margin-bottom: 2rem;
}

.arch-text {
  position: absolute;
  top: 0;
  background-color: rgb(226, 6, 6);
  opacity: 0.673;
  width: 100%;
  height: 300px;
}

.arch-text h3 {
  color: #fff;
  text-align: center;
  font-weight: 900;
}

.arch-text p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 900;
}

.hidden {
  display: none;
}

.desktop-nav,
.desktop-items,
.see-more,
.about-footer-logo {
  display: none;
}

/* Bigger screen size display */

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .desktop-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #454852;
  }

  .desktop-nav li {
    margin: 1rem;
  }

  .desktop-nav a {
    text-decoration: none;
    color: #fff;
  }

  .face-twitt img {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: 0.5rem;
  }

  .face-twitt {
    margin-right: 1rem;
  }

  .desktop-nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 3.9rem;
  }

  header .main-wrapper {
    background-image: url(../images/pexels-karolina-grabowska-4464884.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .desktop-items {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding-left: 4rem;
  }

  .desktop-items ul {
    display: flex;
    justify-content: space-evenly;
  }

  .desktop-items ul li {
    margin-right: 2rem;
    align-self: center;
  }

  .english a {
    font-size: 0.7rem;
  }

  .main-program a {
    color: #fff;
  }

  .desktop-items ul a {
    font-size: 0.8rem;
    color: #272a31;
  }

  .desktop-items .about {
    color: #ec5242;
    cursor: pointer;
  }

  .desktop-items .campaign {
    color: #ec5242;
    font-weight: 700;
    border: 4px solid #ec5242;
    padding: 0.5rem;
  }

  .desktop-items .desktop-logo {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    width: auto;
    height: 40px;
  }

  .title {
    font-size: 3em;
    padding-left: 5rem;
    padding-right: 4rem;
  }

  .about-intro {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .about-intro-container {
    width: 50%;
  }

  .motto {
    color: #272a31;
    margin-left: 5rem;
    padding-left: 1rem;
  }

  .date {
    padding-left: 5rem;
  }

  .venue {
    padding-left: 5rem;
  }

  .main-program-card1 {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #454852;
    margin-top: 5rem;
    padding-top: 1rem;
    margin-left: 0;
    margin-right: 0.3rem;
    height: auto;
    width: auto;
    text-align: center;
  }

  .main-program-card-header {
    color: #ec5242;
    padding: 0;
    font-size: 0.7rem;
  }

  .main-program-card-desp {
    color: #fff;
    padding-top: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 0.7rem;
  }

  .program-card-section {
    display: flex;
    align-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  .main-program-button {
    display: none;
  }

  .see-button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-self: center;
  }

  .see {
    border-bottom: 1.5px solid #969696;
    width: 13rem;
    height: 5px;
    align-self: center;
  }

  .see-more {
    display: block;
  }

  /* Feature Section */

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #card1,
  #card2,
  #card3,
  #card4,
  #card5,
  #card6 {
    margin-bottom: 4rem;
  }

  .speaker-title {
    font-size: 0.7rem;
  }

  .speaker-text {
    padding-right: 2rem;
  }

  .mobile-more,
  .about-mobile-footer-logo {
    display: none;
  }

  .dot-photo {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 6rem;
  }

  .dot {
    width: 60px;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
  }

  .speaker-img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 120px;
    height: 120px;
  }

  .partners-image {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .partners-logo-top img {
    margin-right: 2rem;
  }

  .partners-logo-down {
    margin-top: 0;
    margin-bottom: 0;
  }

  .partners-logo-down img {
    margin-right: 2rem;
  }

  .about-footer {
    display: flex;
    background-color: #272a31;
    justify-content: flex-start;
  }

  .about-footer .about-footer-logo {
    display: block;
    width: 20%;
    margin-right: 15rem;
    margin-left: 5rem;
  }

  .footer-text-about {
    color: #fff;
  }

  .footer-text-home {
    color: #272a31;
  }

  .archives {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .archives h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-top: 5rem;
  }

  .archives-check {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 7rem;
  }

  .archives-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .archives-img img {
    width: 100%;
    height: 200px;
  }

  .arch {
    position: relative;
    margin-bottom: 2rem;
  }

  .arch-text {
    position: absolute;
    top: 0;
    background-color: rgb(226, 6, 6);
    opacity: 0.673;
    width: 100%;
    height: 200px;
  }

  .arch-text h3 {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
  }

  .arch-text p {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 900;
  }

  .about-title {
    font-weight: 900;
    font-size: 4rem;
    color: #ec5242;
    text-align: center;
    padding: 3rem 4rem;
  }
}
